<div class= "ironHackers">
  <img src= "{{this.pic}}" alt="ironHacker">
    <div class ="col-md-12">
      <h4>{{this.username}}<h4>
    <a href="/singup/{{id}}" class="btn btn-primary">Configurar Contraseña</a>
  </div>
</div>