<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/"><img src="/images/logo2.png" class="logo"></a>

        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
          <a class="nav-link" href="/users/sign_out" ng-click="" rel="" data-method="delete"><i class="fa fa-power-off" aria-hidden="true"></i></a>
        </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Start Doing</h1>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/samurai.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Do more Katas</a>
              </h4>
              <p class="card-text">IronKatas is where developers achieve code mastery through challenge. Train on kata in the dojo and reach your highest potential.!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/feedback.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Give more Feedback</a>
              </h4>
              <p class="card-text">Get the most bloody and tender feedback from your teacher.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/project.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">A project that concentrates all what we have learned</a>
              </h4>
              <p class="card-text">The wandering mind!  
This course contains many practical exercises that will help you to be able to concentrate very well</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/togethers.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">More get Togethers</a>
              </h4>
              <p class="card-text">chelas, pizza and code.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/practice.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">More-in class practice</a>
              </h4>
              <p class="card-text">practice, practice, practice.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/others.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Others</a>
              </h4>
              <p class="card-text">Others</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

  
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; México 2018</p>
      </div>
      <!-- /.container -->
    </footer>