<!-- Navigation -->
    

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Stay the Same</h1>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/1.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">We arrived at the Javascript age</a>
              </h4>
              <p class="card-text">we have javascript in the server, in the backend and in the frontend.!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/3.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Teachers</a>
              </h4>
              <p class="card-text">Transmitting the same message to 10 people, is to be a teacher.
                  To understand that each one receives it from a different trajectory, or a particular inclination, 
                  and to adapt it individually, is to be a teacher.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/2.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Immersive Approach</a>
              </h4>
              <p class="card-text">IMMERSIVE APPROACH: All content is organized by modules. The theoretical support material 
                  is perfectly organized and accessible, but it is the teachers who turn this theory into action.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/togethers.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Companions</a>
              </h4>
              <p class="card-text">We are the perfect team. It is confirmed by all kinds of qualitative, quantitative, astrological =).</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/4.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">IronHacks Team</a>
              </h4>
              <p class="card-text">You may not see them, but you know they are there. Like calories. From my first contact requesting information until today, 
                  all the people with whom I have spoken have been interested in me, have helped me or have listened to me.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/others.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Others</a>
              </h4>
              <p class="card-text">Others</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

  
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; México 2018</p>
      </div>
      <!-- /.container -->
    </footer>