<!-- Navigation -->
   
    <!-- Page Content -->
    <div class="container">
      <!-- Page Heading -->
      <h1 class="my-4">Stop Doing
        <small>No more of this, please</small>
      </h1>
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/stopDoing/katas.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">No more katas </a>
              </h4>
              <p class="card-text">You consider katas are not necessary anymore, or that they should be done at home. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/stopDoing/bored.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Reading theory in class</a>
              </h4>
              <p class="card-text">You'd rather dedicate time to practice than to reading theory in class </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/images/stopDoing/hackaton.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">No more hackaton</a>
              </h4>
              <p class="card-text">You consider that hackaton is not necessary for developing programmer skills</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/stopDoing/drinks.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">No more Extra activities, such as get togethers or workshops</a>
              </h4>
              <p class="card-text">You'd rather spend time only in things related to the class, no parties or games. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/stopDoing/homework.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Homework</a>
              </h4>
              <p class="card-text">You'd rather do all labs and activities in class</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="./images/stopDoing/darth.jpeg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Others</a>
              </h4>
              <p class="card-text"> Feel free to add any other comment regarding what we should stop doing so we can consider them for future</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; México 2018</p>
      </div>
      <!-- /.container -->
    </footer>