<section>
  <div class="container">
   <div class="col-3 cent">
    <div class="card" style="width: 18rem;">
       <img class="card-img-top rounded-circle" src="{{pic}}" alt="">
       <div class="card-body">
         <h5 class="card-title">{{username}}</h5>
         <label for="">Escribe tu contraseña</label>
         <input type="password" class="form-control" id="pass1" placeholder="Password">
         <label for="">Repitela...</label>
         <input type="password" class="form-control" id="pass2" placeholder="Password">
         <br>
         <a href="/private" class="btn btn-primary">Entrar</a>
       </div>
      </div>
    </div>
  </div>
</section>
